@font-face {
    font-family: "jura";
    src: url("../fuentes/JustMeAgainDownHere-Regular.ttf");
}

.menu-principal .volver{
    background: #a1d6fa;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;    font-weight: bolder;
    transition: background 0.5s;
    cursor: pointer;
}

.carrito-fondo {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 12;
    background-color: #cf5cc6;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    visibility: hidden;
}

.carrito-ventana {
    width: 600px;
    background-color: #2c4564;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;

}

.carrito-ventana .carrito-titulo {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.carrito-ventana .carrito-contenido,
.carrito-ventana .total {
    color: white;
    font-family:  Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito-ventana .total {
    border-bottom: none;
    border-top: 1px solid white;
}

p .precio {
    text-align: right;
    padding-left: 100%;
}

.renglon .precio {
    text-align: right;

}

.total .precio-total {
    text-align: center;
    padding-left: 100%;
}

.renglon .cantidad {
    text-align: center;
    padding-left: 35%;
}

.producto .renglon {
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin-bottom: 10px;
}

.renglon .precio .total .precio-total {
    text-align: right;
}

.carrito-contenido .precio {
    text-align: center;
}

.boton-pagar {
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;    font-size: 2rem;
    transition: background 0.5s;
    border-radius: 20px;
}

.boton-quitar {
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

.carrito-ventana .renglon .boton-quitar {
    color: black;
    background: #ffffff;
    border: none;
    cursor: pointer;
    transition: background 0.5s;
    margin-left: 5px;
}

.carrito-ventana .renglon .boton-quitar:hover {
    background: red;
    color: black;
}

.carrito-ventana .boton-pagar {
    width: 100%;
    background: #FDE14A;
}

.carrito-ventana .boton-pagar:hover {
    background: #ffffff;
    color: black;
}