@font-face{
    font-family: "jura";
    src: url("../fuentes/JustMeAgainDownHere-Regular.ttf");
}
*{
    font-family: "jura", sans-serif;
    font-size: 1.5rem;
}

body {
    background-color: #a1d6fa;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 600px;
    background-color: #2c4564;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.item span {
    margin-left: 10px;
    flex-grow: 1;
    color: #000;
}
.remove {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
    font-size: 1rem;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.buttons button {
    width: 40%;
    height: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}
.cancel {
    background-color: #ff0000;
    color: #fff;
}
.proceed {
    background-color: #ffd700;
    color: #000;
}
span{
    font-size: 1rem;
}