    @font-face {
    font-family: Just;
    src: url("../fuentes/JustMeAgainDownHere-Regular.ttf");
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Just", sans-serif;
}


body {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A6E3E9;
    display: grid;
    height: 100vh;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 20% auto 20%;
    grid-template-areas: "h h h"
                         "m m m"
                         "f f f";

}

header{
    background: #28527A;
    grid-area: h;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

img{
    cursor: pointer;
}

.logo img{
    width: 8rem;
    margin-left: 3rem;
    
}

header h1 {
    color: #FDE14A;
    margin: 0;
    font-size: 2.5em;
    display: flex;
    margin-top: 1rem;
    font-size: 4rem;
}

h1{
    font-family: "Just", sans-serif;
}

.carrito img{
    width: 50px;
    margin-top: 2rem;
    margin-right: 2rem;
}

.saturno {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25%;
    z-index: -1;
}

.saturno img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


main{
    grid-area: m;
}

main img:hover{
    border: 5px solid gray;
   
}

footer{
    grid-area: f;
    position: relative;
}

.contacto{
    position: absolute;
    bottom: 20px;
    right: 30px;
    background-color: #FDE14A;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.contacto a {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.luna {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 25%;
}

.luna img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.item {
    text-align: center;
}

.item img {
    border-radius: 15%;
    width: 150px;
    height: 300px;
}

.item p {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
/*
.contact {
    text-align: center;
    margin-top: 20px;
}

.contact button {
    background-color: #FFC20E;
    border: none;
    padding: 5px 5px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    margin-left: 10px;
}
*/
p{
    font-family: "inter", sans-serif;
    font-size: 1rem;
}

