@font-face {
    font-family: Just;
    src: url("../fuentes/JustMeAgainDownHere-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #A6E3E9;
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
    
}
/**************************encabezado****------------------------*/
header{
    background: #28527A;
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

img{
    cursor: pointer;
}

.logo img{
    width: 8rem;
    margin-left: 3rem;
    
}

header h1 {
    color: #FDE14A;
    margin: 0;
    font-size: 2.5em;
    display: flex;
    margin-top: 1rem;
    font-family: just;
    font-size: 4rem;
}

.login{
    display: flex;
    margin-right: none;
    margin-top: 3.5rem;
    text-decoration: none;
}

.login a {
    color: #FDE14A;
    text-decoration: none;
    font-size: 2rem;
    padding: 10px 20px;
    margin-right: 20px; 
}

.login a:last-child {
    margin-right: 0; 
}

.carrito img{
    width: 50px;
    margin-top: 2.5rem;
    margin-right: 2rem;
}

.saturno {
    width: 25%;
    position: fixed;
    top: 8%;
    right: 0;
    z-index: -1;
}
  
.saturno img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*--------------------------------------------------*/

main{
    grid-column: 2/4;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit,350px);
    justify-content: space-around;
    row-gap: 30px;
    margin: 10px;
}

.elemento{
    background: #ece5ce;
    border: 5px solid white;
    padding: 10px;
    transition: box-shadow 0.5s;
}


main h3{
    margin-top: 10px;
    text-align: center;
    font-family: just;
    font-size: 1.5rem;
}

main img{
   
    width: 150px; 
    height: 150px; 
    margin-top: 5px;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 55px;
}
main img:hover{
    border: 5px solid gray;
   
}

/*-----------botones------------*/
.boton {
    background: #E08E79;
    font-family: "Montserrat Alternates", serif;
    font-size: 1.2rem;
    color: white;
    display: block;    
    padding: 16px 0 16px 0;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
}

.boton:hover {
    background: #42929D;
}
a.boton{
    text-decoration: none;
    text-align: center;
}

/*---------fin de botones-------*/

/*----------index---------------*/
.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.item {
    text-align: center;
}

.item img {
    border-radius: 15%;
    width: 150px;
    height: 300px;
}

.item p {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
/*---------Fin index----------------*/

/*-----piepagina---------------------------------*/
.componentef{
    grid-column: 3/4;
    background: green;
    margin: 10px;;
    text-align: end;
}

.componentef .contacto{
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #FDE14A;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
}

.luna {
    width: 25%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}
  

.luna img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*------------------------------*/





